.image-slider {
  position: relative;
  width: 600px;
  height: 450px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15%;
}

.image-slider button {
  height: fit-content;
  font-size: 1.3em;
  margin: auto 5px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  border-radius: 10px;
}

.image-slider button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.index-circles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  color: white;
}

.fa-circle {
  margin: auto 10px;
}

.fa-circle:hover {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
